<% provide(:title, "") %>
<!DOCTYPE html>
<html>
  <body>
    <h5>Top</h5>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        <%= link_to "学習", study_path, class: "btn btn-block btn-primary" %>
        <% if @category_study.present? %>
          <% @category_study.each do |f| %>
            <tr>
              <td><%= f.name %><br/></td>
            </tr>
          <% end %>
        <% end %>
        </div>
        <div class="col-sm-1" style="margin-bottom:10px;"></div>
        <div class="col-sm-3">
          <%= link_to "サンプル", sample_path, class: "btn btn-block btn-primary" %>
          <% if @category_sample.present? %>
          <% @category_sample.each do |f| %>
            <tr>
              <td><%= f.name %><br/></td>
            </tr>
          <% end %>
        <% end %>
        </div>
       </div>
     </div>
   </div>
  </body>
</html>
