<% provide(:title, "") %>
<!DOCTYPE html>
<html>
  <body>
    <h5>Top</h5>
    <div class="container">
    <table class="table table-striped">
      <thead>
        <th  class="col-xs-1 col-sm-1" scope="col">分類</th>
        <th  class="col-xs-2 col-sm-4" scope="col">タイトル</th>
        <th  class="col-xs-4 col-sm-6" scope="col">概要</th>
        <th  class="col-xs-2 col-sm-2" scope="col">更新日</th>
      </thead>
      <tbody>
        <% @microposts.each do |f| %>
          <tr>
            <td><%= f.category.name %></td>
            <td><%= link_to f.title, micropost_path(f.id)%></td>
            <td><%= f.content.truncate(120) %></td>
            <td><%= f.updated_at.to_date %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </body>
</html>
