<% provide(:title, "") %>
<!DOCTYPE html>
<html>
  <body>
    <div class="center jumbotron">
     <h2>My Programming Training</h2>
     <%= link_to "JavaScript", js_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
