<% provide(:title, "") %>
<!DOCTYPE html>
<html>
  <body>

    <h5>Home</h5>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
        <%= link_to "JavaScript", js_path, class: "btn btn-lg btn-primary" %>
        </div>
        <div class="col-sm-2">
          <%= link_to "Rails", rails_path, class: "btn btn-lg btn-primary" %>
        </div>
       </div>
     </div>
   </div>
  </body>
</html>
