<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PG", root_path , id: "logo" %>
    <p id="pHead";>プログラミングの備忘録サイトです<p>
    <div class="rightWrap">
      <%= link_to "管理用", login_path , id: "admin", :class => 'btn' %>
    </div>
  </div>
</header>
